<div class="panel panel-default">
	<div class="panel-heading">
  		<h4><b>Nueva persona</b></h4>
  	</div>
    <div class="panel-body">

		<aehp-input-text 
			etiqueta="Nombres"
			requerido="true"
			placeholder="Ingrese sus nombres"
			modelo="personaFamiliarVm.modelo.nombres">
		</aehp-input-text>

		<aehp-input-text 
			etiqueta="Apellidos"
			requerido="true"
			placeholder="Ingrese sus apellidos"
			modelo="personaFamiliarVm.modelo.apellidos">
		</aehp-input-text>

		<aehp-select-item 
			etiqueta="Sexo"
			requerido="true"
			lista="personaFamiliarVm.referencias.sexos"
			clave="id"
        	valor="contenido"
			modelo="personaFamiliarVm.modelo.sexo">
		</aehp-select-item>

		<aehp-select-item
			etiqueta="Estado"
			requerido="true"
			lista="personaFamiliarVm.referencias.estados"
			clave="id"
        	valor="contenido"
			modelo="personaFamiliarVm.modelo.estado">
		</aehp-select-item>

		<aehp-input-date
			etiqueta="Fecha de nacimiento"
			modelo="personaFamiliarVm.modelo.fechaDeNacimiento">
		</aehp-input-date>

		<aehp-grid options="personaFamiliarVm.gridOptions">
		</aehp-grid>

		{{ personaFamiliarVm }}

  	</div>
</div>