<div class="form-horizontal">
   	<div class="col-sm-12">
	    <div class="form-group">
		    <label for="{{ etiqueta }}" class="col-sm-4 control-label">
		    	{{ etiqueta }} <span ng-show="{{ requerido }}">*</span>
	    	</label>
		    <div class="col-sm-8">

				<p class="input-group">
					<input
						type="text"
						id="{{ etiqueta }}"
						placeholder="{{ placeholder }}"
						class="form-control"
						uib-datepicker-popup="{{ format }}"
						ng-model="modelo"
						is-open="popup.opened"
						datepicker-options="dateOptions"
						show-button-bar="false" />

					<span class="input-group-btn">
					    <button
					    	type="button"
					    	class="btn btn-default"
					    	ng-click="open()">
					    	<i class="glyphicon glyphicon-calendar"></i>
					    </button>
	  				</span>
				</p>

				<aehp-error-message error="error"></aehp-error-message>

		    </div>
	    </div>
	</div>
</div>